.plansSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 0;

  & h1 {
    text-align: center;
    width: 65rem;
    max-width: 100%;
    font-weight: 600;
    font-size: 50px;
    color: black;
    padding: 0 55px;
  }

  & .plansContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.3rem;
    align-items: flex-start;
    width: 100%;

    & .planWorker h2 {
      font-size: 2.5rem;
      color: #d4b865;
    }

    & .plan {
      position: relative;
      width: min-content;
      height: min-content;
      padding: 2rem 5rem;
      background-color: #1e1d1d;
      border-radius: 30px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      color: white;
      background-size: 10%;
      background-image: url("./img/Quadradopt2.png");
      display: flex;
      flex-direction: column;
    }

    & hr {
      background-color: #f3c623;
    }

    & li {
      list-style: none;
      padding: 0;
      font-size: 1rem;
      text-align: left;
      line-height: 2;
    }

    & h2 {
      font-size: 2.5rem;
      color: #fb9205;
    }

    & .premium {
      background-color: #fb9205;
    }

    & .iconBee {
      width: 50px;
      height: 50px;
      margin: 10px auto;
      background-image: url("./img/bee.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    & .price {
      font-size: 2rem;
      color: #fff;

      & strong {
        font-size: 2rem;
        color: #f9d504;
      }
    }

    & .features {
      list-style: none;
      padding: 0;
      font-size: 1rem;
      color: #fb9205;
      text-align: left;
      margin: 20px auto;
      line-height: 2;
    }

    & .currentLevel {
      font-size: 1.2rem;
      color: gray;
    }

    & .upgradeButton {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      color: white;
      background-color: #2800b1;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    & .upgradeButton:hover {
      background-color: #18035e;
    }
  }
}

@media(max-width:532px){
  .plansSection h1{
    font-size: 30px;
  }
}

@media(max-width:400px){
  .plansSection h1{
    font-size: 25px;
  }

  .plansSection .plansContainer{
    gap: 0;
  }

  .plansSection .plan{
    transform: scale(0.85);
  }
}