@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.LoginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(circle,
      #e7ddb8,
      #dcd2af,
      #d1c7a7,
      #c7bd9e,
      #bcb296);
  height: 100vh;

  & .layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    gap: 15vw;


    & .fieldInformations {
      display: flex;
      flex-direction: column;
      align-items: center;


      & h2 {
        font-size: 3rem;
        color: #EE9B11;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin-bottom: 5rem;
      }


     



      & input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 15px;
        width: 60vh;
        height: 50px;
        padding: 0 25px;
        border: 3px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
        margin: 2vh;
      }
      
    }
    & img {
      position: relative;
      right: 25vh;
    }
  }
}