.container-text {
  height: 100vw;
  padding: 50px;
}

.box-text {
  display: flex;
    flex-direction: column;
  width: 100%;

  & .text-title {
    font-size: 5rem;
    font-family: monospace;
    width: 100%;
    border-right: 5px solid;
    overflow: hidden;
    color: rgb(235, 183, 15);
    letter-spacing: 7px;
    white-space: nowrap;
    animation: typing 2s steps(23), cursor 0.4s step-end infinite alternate;
  }
  & .text-paragraph {
    font-size: 24px;
    width: 50%;

  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.feature-tabs_link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.feature-tabs_link {
opacity: .5;
color: var(--gray-700);
background-color: #0000;
padding: .75rem 2rem;
transition: opacity .6s;
}
