
.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 250;
  height: 100%;
  content: "";
  z-index: 2;
}

/* div logos e imagens */
.logos {
  overflow: hidden;
  gap: 60px;
  padding: 40px 0 40px 0;
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

  & h3 {
    color: var(--stinger);
    text-align: center;
    font-weight: 600;
    font-size: 50px;
  }

  & .logos-slide {
    display: flex;
    white-space: nowrap;
    animation: 120s slide infinite linear;

    & img {
      height: 150px;
      width: 150px;
      border-radius: 360px;
      margin: 0 275px;
    }
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
