*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animação da logo */

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
h3{
  color: white;
  font-weight: 600;
  font-size: 50px;
}

.logos::before,
.logos::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 250;
  height: 100%;
  content: "";
  z-index: 2;

}

.logos::before{
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 0));
}

.logos::after{
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0),hsla(0, 0%, 99%, 0.075));
}


/* div logos e imagens */
.logos{
  overflow: hidden;
  gap: 60px;
  padding: 40px 0 40px 0   ;
  background: #7100b2;
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

    & .logos-slide{
      display: flex;
      white-space: nowrap;
      animation: 35s slide infinite linear;

      & img{
        height: 150px;
        width: 150px;
        border-radius: 360px;
        margin: 0 75px;
      }
    }
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}
